<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MovieMash</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">MovieMash</h1>
                <p class="subtitle">
                    Brought to you by Thomas McDonald, Mitchell Eldridge, Troy Fulton
                </p>

                <div class="box" id="form-card">
                    <form title="Option input" onsubmit="return submitForm()">
                        <div id="freeform-query" class="field">
                            <label class="label" for="query-input">What are some actors, locations, characters, or other keywords for movies that may interest you?</label>
                            <input id="query-input" class="input" type="text" placeholder="Cowboys and Indians, Harry Potter, fantasy, aliens">
                        </div>
                
                        <div class="label control">How much time do you have?</div>
                        <div id="timing" class="field is-grouped">
                            <div class="field has-addons">
                                <div class="control">
                                    <button class="button is-static">Hours:</button>
                                </div>
                                <div class="control">
                                    <div class="select">
                                        <select name="hours-selection" id="num-hours">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field has-addons">
                                <div class="control">
                                    <button class="button is-static">Minutes:</button>
                                </div>
                                <div class="control">
                                    <div class="select">
                                        <select name="minute-selection" id="num-min">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <input class="button" type="submit" value="Find Movies">
                    </form>
                </div>
            </div>
        </section>

        <div id="loading" class="is-hidden container">
            <progress class="progress is-small is-info" max="100"></progress>
        </div>

        <section class="section">
            <div class="container">
                <table id="movie-results" class="table">
                    <tbody id="movie-results-body">
                    </tbody>
                    <!-- <div class="box">Wow</div> -->
                </table>
            </div>
        </section>

        <script>
            function addHourOptions() {
                const hourOptions = 23
                let select = document.getElementById('num-hours')
                for(let i = 0; i <= hourOptions; i++) {
                    let option = document.createElement('option')
                    option.value = i
                    option.innerText = i
                    select.appendChild(option)
                }
            }

            function addMinuteOptions() {
                const minuteOptions = 59
                let select = document.getElementById('num-min')
                for(let i = 0; i <= minuteOptions; i+=5) {
                    let option = document.createElement('option')
                    option.value = i
                    option.innerText = i
                    select.appendChild(option)
                }
            }

            function startLoading() {
                // document.getElementById('form-card').classList.add('is-hidden')
                document.getElementById('movie-results-body').innerHTML = ''
                document.getElementById('loading').classList.remove('is-hidden')
            }

            function stopLoading() {
                document.getElementById('loading').classList.add('is-hidden')
            }

            async function getResults(query, hours, min) {
                let response = await fetch('/results', {
                    method: 'POST',
                    mode: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        query,
                        hours,
                        minutes: min
                    })
                })
                let jsonResponse = await response.json()
                return jsonResponse.movies
            }


            function submitForm() {
                // Get the info from the form
                let query = document.getElementById('query-input').value
                let hoursSelect = document.getElementById('num-hours')
                let hours = hoursSelect.options[hoursSelect.selectedIndex].value
                let minSelect = document.getElementById('num-min')
                let mins = minSelect.options[minSelect.selectedIndex].value
                // Start loading display
                startLoading()

                getResults(query, hours, mins)
                    .then(results => {
                        // Expecting results to be a list of movie objects
                        let resultsTable = document.getElementById('movie-results-body')
                        for(result of results) {
                            let row = document.createElement('tr')
                            let name = document.createElement('th')
                            
                            name.innerText = result.movie_name
                            row.appendChild(name)

                            resultsTable.appendChild(row)
                        }

                        stopLoading()
                    })
                    .catch(err => {
                        // Display error message
                    })

                return false
            }

            addHourOptions()
            addMinuteOptions()
        </script>
    </body>
    <style>
        :root {
            --content-width: 50vw;
        }

        body {
            background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
            height: 100vh;
        }

        #form-card {
            margin-top: 10vh;
            width: var(--content-width);
        }

        #freeform-query > input {
            width: var(--content-width);
        }

        #timing {
            margin-bottom: 5vh;
        }

        #timing > div {
            margin-right: 8px;
        }

        #loading > progress {
            width: var(--content-width);
        }

        #movie-results {
            width: var(--content-width);
            border-radius: 6px;
            box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
            padding: 1.25rem;
        }
    </style>
</html>