<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMash</title>
</head>
<body>
    <h1>MovieMash</h1>
    <p>Brought to you by Thomas McDonald, Mitchell Eldridge, Troy Fulton</p>

    <form title="Option input">
        <input type="text">
        <!-- TODO: Add input for genres (should be a multi select. Checkboxes?) -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>